
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; 
    color: white;
}

/* Header styling */
header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search bar container */
.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #2a2a2a; 
    border-radius: 50px;
    width: 60%;
    max-width: 500px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.search-bar-container input {
    flex-grow: 1;
    border: none;
    background: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    outline: none;
    font-family: inherit;
}


.search-bar-container button {
    border: none;
    background: none;
    color: #b3b3b3;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

.search-bar-container button:hover {
    color: white;
}


#results {
    margin: 20px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
